<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /sonic-api-endpoint/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ SonicServerExample.php?clean_url=$1

</IfModule>